/*Estilos section-conocimientos*/

/*Vista DESTOCK*/

.container-conocimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10000;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgb(247, 236, 236);
    box-shadow: inset -5px -2px 25px -15px rgba(0,0,0,1);

}

.box-conocimientos{
display: flex;
flex-direction: column;
align-items: center;
width: 40% ;
height: 40%;
}

.section-title{
font-size: 3em;
font-weight: bolder;
}

.p-box-conocimientos{

font-size: 1.1em;
text-align: center;
margin-top: 7%;
}

.box-conocimientos-items{
display: flex;
flex-flow: wrap;
justify-content: space-between;
width: 70%;
margin-top: 5%;
background-color: rgb(247, 236, 236);
}

.item-conocimientos{
width: 250px;
height: 220px;
border-radius: 10px;
border: 2px solid gray;
background-color: white;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 3%;
cursor: pointer;

}

.tamaño{
font-size: 6em;
}

.p-item{
margin-top: 6%;    
font-size: 1.4em;
font-weight: 700;
}

.item-conocimientos:hover{
  border: dotted  #24564F;  
  color:  #24564F;
}

