/*Estilos section-hola*/

/*Vista DESTOCK*/

.container-aboutme{
    display: flex;
    flex-direction: row;
    height: 100vh;
    z-index: -10000;
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 10%;
    justify-content: space-between;
    

}

.box-text {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-top: 7%;
    width: 50%;


}


.box-title {
    font-size: 1.8em;
    font-weight: 600;
}

.box-name {
    font-size: 2.9em;
    font-weight: 700;
    color: darkcyan;
    font-style: italic;
}

.box-description {
    font-size: 1.1em;
    padding-top: 4%;
    padding-bottom: 8%;
    line-height: 25px;
}

.do {
    font-size: 1.3em;
    font-weight: 400;
}

.container-img-me {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

/* Fin Vista DESTOCK*/




/*Comienzo RESPONSIVE*/
@media (max-width: 1000px) {

    .container-aboutme{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20%;

    }

    .box-text {
        align-items: center;
        text-align: center;

    }

    .do {
        margin-top: 15%;
    }

    .box-description {
        margin-bottom: 10%;
        text-align: center;
    }

    .container-img-me {
        margin-top: 10%;
        width: 40%;
    }
}


@media (max-width:800px) {

    .box-title {
        font-size: 1.6em;
    }

    .box-name {
        font-size: 2.3em;
    }

    .box-description {
        font-size: 1.0em;
    }
}


@media (max-width: 700px) {

    .box-text {
        margin-bottom: 7%;
    }

    .box-title {
        font-size: 1.4em;

    }

    .do {
        margin-top: 10%;
    }

    .box-name {
        font-size: 1.9em;
    }

    .container-img-me {
     min-width: 60%;   
    }

}



@media (max-width: 500px) {
    .box-title {
        margin-top: -10%;
        padding-bottom: 8%;
    }

    .box-description {
        padding-top: 7%;
    }

   
}



@media (max-width: 375px) {

    .container-aboutme{
        padding-top: 50%;
    }
  
    .box-title {
        font-size: 1.3em;
        margin-bottom: -7%;

    }

    .box-name {
        font-size: 1.7em;
    }

    .box-description {
        font-size: 0.9em;
    }

    .box-name {
        margin-top: 10%;
    }

    .do {
        margin-top: 25%;
    }

    .container-img-me {
        margin-top: 15%;
    }
}

@media (max-width: 330px){
  .container-aboutme{
      padding-top: 100%;
      padding-bottom: 80%;
  }
}

/*Fin RESPONSIVE*/