/*Estilos section-cita*/

/*Vista DESTOCK*/

.container-cita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -10000;
    height: 100vh;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color:  #24564F;
    box-shadow: inset -5px -2px 25px -15px rgba(0,0,0,1);
    color: white;
}

.comillas{
font-size: 5em;
}

.box-cita{
width: 70%;
margin-top: 7%;
margin-bottom: 7%;
}

.p-cita{
text-align: center;
font-size: 1.4em;
}

.h2-cita{
font-size: 2em;
}

/* Fin Vista DESTOCK*/


/*Comienzo RESPONSIVE*/

